# defaults for photometry analysis
%PHOTOMETRY
# downsample rate
new_fs=200
# how to apply reference if we have one
reference=vector
# smoothing timescale (exp filter)
smooth_tau=.3
# window size for detrending
detrend_win=3
clip=true
# did we record dc offset?
dc_offset_split=false
# dc offset always sent to this + signal channel
dc_offset_ch=1
# dc offset dividing factor
dc_offset_scale=100
invert_sig=false
