#note that section headers begin with %, and sections can be
#PHOTOMETRY
new_fs=100
dc_offset_scale=100
rereference_method=ica
baseline_fcn=@(x) prctile(x,10)
baseline_win=15
baseline_post_smooth=0
nrands=1000
mod_bandpass_bw=50
mod_bandpass=true
mod_bandpass_type=elliptic
mod_bandpass_order=4
demod_tau=.5
demod_filter_type=butter
demod_filter_order=4
ref_samples=1e5
ica_channels=[1 3]
ica_reference=3
ica_normalize=false
ica_smoothing=.2
change_method='interp'
save_dir='_analysis'
